.form-container{
    min-height: max-content;
    min-width: max-content;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    height: auto;
    width: max-content;
}

.input-label{
    color: white;
    padding: 20px;
}

.form-input{
    padding: 25px;
    margin: 5px;
}