.form-group {
    padding: 30px;
}

.form-input{
    margin-bottom: 15px;
    width: 90%;
}

.container-main{
    background-color : none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
}
.icon {
    color: white;
    font-size: 64px;
    margin-bottom: 10px;
}

.label{
    padding: 0 !important;
    float:left;
    color: white;
    font-size: 16px;
}

.form-control{
    background-color: rgba(245,186,66,0.3) !important;
    border-color : white !important;
    color: white !important;
}
.form-control::placeholder{
    color: white !important;
}
.registration{
    background-color: none;
    border-radius: 10px;
}
.input-group-text{
    background-color: rgba(245,186,66,0.3) !important;
    border-color : white !important;
    color: white !important;
}
.login-txt{
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: 600;
}
.login-txt:hover{
    color: white !important;
}
.popover-body{
    background-color: darkorange;
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}