
.form-container{
    background-color : rgba(245, 185, 66, 0.75);
    height: max-content;
    width: max-content;
    border-radius: 5px;
    padding: 0px;
}

.icon {
    color: white;
    font-size: 64px;
    margin-bottom: 10px;
}

.field {
    margin-bottom: 10px;
}