
.form-container{
    background-color : rgba(245, 185, 66, 0.75);
    height: max-content;
    width: max-content;
    border-radius: 5px;
    padding: 0px;
}

.icon {
    color: white;
    font-size: 64px;
    margin-bottom: 10px;
}

.field {
    margin-bottom: 10px;
}

.register-txt{
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: 600;
}
.register-txt:hover{
    color: white !important;
}