.sidebar-admin{
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 260px;
    left: 0;
    z-index: 1030;
    border-right: 1px solid #ddd; 
    color: white;
    background-color: orange;
}
.main-panel{
    padding-left: 260px;    
}
.navbar-admin{
    padding-left: 260px;
}
.content-admin{
    padding-top: 50px;
    padding-left: 20px;
    background-color: #f3f3f3 !important;
    padding-right: 20px;
}
.nc-icon{
    font-size: 42px !important;
}

.nav-link{
    color: white !important;
    font-weight: 800 !important;
}
li.nav-link{
    transition-duration: 0.25s;
    width: 100% !important;
}
li.nav-link:hover{
    width: 100% !important;
    transition-duration: 0.25s;
    background-color: darkorange;
}