.title{
    text-align: left;
    margin-left: 25px;
    color: gray;
}

.food-col{
    height: max-content;
    margin: auto;
}

.food-card{
    height: max-content;
    margin: auto;
    margin-bottom: 30px;
    width: auto;
}

.pagination{
    float: right;
    margin-right: 30px;
}
.loading-spinner{
    margin: 100px;
}
.price-tag{
    position: absolute;
    min-width: max-content;
    max-width: max-content;
    top: 5%;
    left: 5%;
    font-size: 18px;
    z-index: 99;
}
.order-title{
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content
}