.title{
    text-align: left;
    margin-left: 25px;
    color: gray;
}

.food-col{
    height: max-content;
    margin: auto;
}

.food-card{
    height: max-content;
    margin: auto;
    margin-bottom: 30px;
    width: auto;
}

.pagination{
    float: right;
    margin-right: 30px;
}