

.gallery-container {
    max-height : max-content;
    min-height:  max-content;
    background-color: orange;
    width : 100%;
    position: relative;
    padding-bottom: 50px;
}
.row-gallery {
    width: auto;
}

.image {
    display:block;
    min-height: 250px;
    min-width: 100px;
    background-size: cover;
}