.view-holder{
    position: relative;
    padding-top: 100px;
    justify-content: center;
    background-color: rgba(245, 167, 66,1);
    height: max-content;
    width: 100vw;
    overflow: hidden;
    background-image: url('../../assets/img/HamburgerLogin.jpg');
}

@media screen and(max-width: 600px){
    .view-holder {
        padding-top: 0px;
    }
}

.order-sidebar{
    position:absolute;
    top: 15%;
    left: 5%;
    height: auto;
    width: 15%;
    min-width: max-content;
    min-height: max-content;
    background-color: white;
    border-radius: 10px;
}

.order-picker-holder{
    position: absolute;
    top: 12%;
    left : 22.5%;
    height: max-content;
    width: 50%;
    background-color: #f8f8f8;
    min-width: max-content;
    min-height: max-content;
    border-radius: 10px;
}

.order-total-holder{
    position: absolute;
    top: 15%;
    right: 5%;
    height: 70%;
    width: 20%;
    min-width: max-content;
    min-height: max-content;
    background-color: white;
    border-radius: 10px;
}

.static-card.card:not(.card-plain):hover{    
    box-shadow: none;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;

}