.fa-icon{
    margin-right: 15px;
    font-size: 15px;
}
.user-icon{
    color: white !important;
    font-size: 12px;
    font-weight: 600;
}
.fa-user{
    font-size: 18px;
    margin-right: 10px;
}
.user-badge{
    padding: 10px;
    font-size: 18px;
    margin-top: -10px
}

.logout-icon{
    font-size: 22px;
    color: white !important;
    margin-top: -10px !important;
    right: 10%;
    position: absolute;
}.logout-icon:hover{
    font-size: 22px;
    color: white !important;
}

@media (max-width:999px) {
    .nav-link{
        color: gray !important;
    }
    .logout-icon{
        font-size: 30px;
        color: orange !important;
        position : absolute;
        left: 20%;
    }.logout-icon:hover{
        font-size: 32px;
        color: red !important;
    }
}