.fa-icon{
    margin-right: 15px;
    font-size: 15px;
}
.user-icon{
    color: white !important;
    font-size: 12px;
    font-weight: 600;
}
.fa-user{
    font-size: 18px;
    margin-right: 10px;
}
.user-badge{
    padding: 10px;
    font-size: 18px;
    flex: 0 0 auto;
}